<div class="container">
  <app-header [showBackButton]="true"></app-header>
  <div class="content">
    <div>
      <h1 class="title">User Details</h1>
      <h4 class="subtitle">{{formSubtitle}}</h4>
    </div>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="form">
      <div class="formFields">
        <div *ngFor="let field of formFields" class="formRow">
          <label for="{{ field.key }}">{{ field.label }} <span *ngIf="field.validators" class="required">*</span></label>
          <input type="{{ field.type }}" id="{{ field.key }}" [placeholder]="getFeildPlaceholder(field)" formControlName="{{ field.key }}" [pattern]="getFieldPattern(field)">
          <label *ngIf="userForm.controls[field.key].touched && userForm.controls[field.key].errors " class="error">Fill this feild currctly</label>
        </div>
      </div>
      <button class="mainBtn submitBtn" type="submit" [disabled]="!userForm.valid">Save</button>
    </form>
  </div>
</div>
