.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.right {
  margin-left: auto;
}

.left {
  margin-left: 100px;
}

.logo {
  width: 100px;
}

@media (max-width: 768px) {
  .left {
    margin-left: 0px;
  }
}
